{{define "404"}}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="key, words">
		<meta name="description" content="description">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aidos Mesh Explorer</title>

		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		<link rel="stylesheet" media="all" type="text/css" href="/icofont/icofont.min.css">
		<link rel="icon" href="/favicon.ico" type="/image/x-icon">

	</head>

	<body class="error-page">
		<!--Content-->
		<section id="content">		
			<div class="container">
				<div class="row">
					<div class="col-12 error-box">							
							<img src="/images/404-img.png" alt="404">
							<h3>Oops! Sorry, we could not find the page.</h3>
							<a href="/index.html" class="btn btn-primary">Go Back Home</a>
<form action="/search">
						<div class="input-group">
						  <input type="text" name="id" class="form-control" placeholder="Example: AKADRSM2SFXBcL8w7VqAtM7inbkbGc2tLrcwauEB5KBLEvtFcNySCREWG">
						</div>
						<button type="submit" class="btn btn-primary"><i class="icofont-search"></i> SEARCH</button>
</form>
					</div>
				</div>				
			</div>		
		</section>
		<!--Content END-->

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/custom.js"></script>

	</body>
</html>
{{end}}