{{define "404"}}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="key, words">
		<meta name="description" content="description">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aidos Mesh Explorer</title>

		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		<link rel="stylesheet" media="all" type="text/css" href="/icofont/icofont.min.css">
		<link rel="icon" href="/favicon.ico" type="/image/x-icon">

	</head>

	<body class="error-page">
		<!--Content-->
		<section id="content">		
			<div class="container">
				<div class="row">
					<div class="col-12 error-box">							
							<img src="/images/404-img.png" class="img_404" alt="404">
							<h3>Oops! Sorry, we could not find the page.</h3>
							<div class="row">
								<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-10 offset-1">
								<form action="/search" class="search-mesh-404">
									<div class="input-group">
										<input type="text" class="form-control search_error_input" placeholder="Search Here..">
										<div class="input-group-prepend">
										    <button type="submit" class="btn btn-primary btn-search">
										      <i class="icofont-search"></i>
										    </button>
										</div>
									</div>
								</form>
								</div>
							</div>
							<a href="/index.html" class="btn btn-primary mt-4">Go Back Home</a>
						</div>
					</div>
				</div>				
			</div>		
		</section>
		<!--Content END-->

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/custom.js"></script>

	</body>
</html>
{{end}}