{{define "tx"}}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="key, words">
		<meta name="description" content="description">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aidos Mesh Explorer</title>

		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		<link rel="stylesheet" media="all" type="text/css" href="/icofont/icofont.min.css">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

	</head>

	<body>
		<!--Header-->
		<header class="inner-header">
			<div class="container">
				<div class="row header-top">
					<div class="col-8 col-md-5">
						<div class="logo">
							<a href="/index.html"><img src="/images/logo.png" alt="Logo"> Aidos Mesh <span>Explorer {{if ne .Net "main"}}<span class="text-uppercase bg-danger text-white"> {{.Net}}net </span>{{end}}</span></a>
						</div>
					</div>
					<div class="col-4 col-md-7">
<form action="/search">
						<div class="inner-header-search">
							<div class="input-group">
							  <input type="text" name="id" class="form-control" placeholder="Example: AKADRSM2SFXBcL8w7VqAtM7inbkbGc2tLrcwauEB5KBLEvtFcNySCREWG">
							</div>							
							<button type="submit"><i class="icofont-search"></i></button>
						</div>
</form>
					</div>
				</div>
				<div class="row header-banner">
					<div class="col-12 search-mesh">
						<h2>Aidos Kuneen Transaction</h2>
						<h5>{{.TXID}}</h5>						
					</div>
				</div>
			</div>
		</header>
		<!--Header END-->
		<!--Content-->
		<section id="content">			
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="card transaction-box">
							<p>
								Created
								<span><i class="icofont-clock-time"></i>{{duration .Created}} ago</span>
							</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="card transaction-box transaction-box-status">
							<p>
{{if eq .Status 0}}
								<label class="status pending"><i class="icofont-sand-clock"></i></label>
								<span>Pending</span>
{{end}}
{{if eq .Status 1}}
								<label class="status confirmed"><i class="icofont-check-alt"></i></label>
								<span>Confirmed</span>
{{end}}
{{if eq .Status 2}}
								<label class="status failed"><i class="icofont-close-line"></i></label>
								<span>Rejected</span>
{{end}}

							</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="card transaction-box">
							<p>
								Received 
								<span><i class="icofont-clock-time"></i> {{duration .Received}} ago</span>
							</p>
						</div>
					</div>
				</div>
				<div class="row pt-5 pb-5 transaction-address multiple-transaction-address">
					<div class="col-12 col-md-6">
						<div class="card">
							<div class="card-header">
								<h3>{{add (len .Inputs) (len .MInputs)}} Input(s) Consumed</h3>
							</div>
							<div class="card-body">
{{range .Inputs}}
								<p>
									{{toADK .Value}} ADK
								</p>
								<p class="text-success">
		  						<a href="/address?id={{.Address}}">{{.Address}}</a>
								</p>
								<br>
{{end}}
{{if (len .MInputs)}}
								<h4>Multisig Inputs</h4>
{{$root := .}}
{{range .MInputs}}
								<p>
									{{toADK .Value}} ADK
								</p>
								<p class="text-success">
 						<a href="/maddress?id={{call $root.GetMultisigAddress .}}">{{call $root.GetMultisigAddress .}}</a>
</p>
{{end}}
{{end}}
							</div>
						</div>
					</div>
					<div class="transaction-arrow">
						<img src="/images/transaction-arrow.png" alt="transaction-arrow">
					</div>
					<div class="col-12 col-md-6">
						<div class="card">
							<div class="card-header">
								<h3>{{add (len .Outputs) (len .MOutputs)}} Output(s) Created</h3>
							</div>
							<div class="card-body">
{{range .Outputs}}
								<p>
									{{toADK .Value}} ADK
								</p>
								<p class="text-success">
		  						<a href="/address?id={{.Address}}">{{.Address}}</a>
								</p>
								<br>
{{end}}
{{if (len .MOutputs)}}
								<h4>Multisig Outputs</h4>
{{$root:=.}}
{{range .MOutputs}}
								<p>
									{{toADK .Value}} ADK
								</p>
								<p class="text-success">
 						<a href="/maddress?id={{call $root.GetMultisigAddress .}}">{{call $root.GetMultisigAddress .}}</a>
</p>
{{end}}
{{end}}
							</div>
						</div>
					</div>
				</div>
				<div class="row pb-5">
					<div class="col-12 text-center">
						<button class="btn btn-primary" id="advance-details">Advance Details</button>
					</div>
				</div>
				<div class="row pb-5 transaction-address advance-details-table">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3>Advance Details</h3>
							</div>
							<div class="card-body">
								<div class="table-responsive">
						  			<table class="table table-borderless">
						  				<tbody>
{{if .TicketInput}}
						  					<tr>
						  						<td>Ticketin </td>
						  						<td><a href="/address?id={{.TicketInput}}">{{.TicketInput}}</a></td>
						  					</tr>
{{end}}
{{if .TicketOutput}}
						  					<tr>
						  						<td>Ticketout </td>
						  						<td><a href="/address?id={{.TicketOutput}}">{{.TicketOutput}}</a></td>
						  					</tr>
{{end}}
{{if .Message}}
						  					<tr>
						  						<td>Message </td>
						  						<td>{{.Message}} ({{.MessageStr}}</td>
						  					</tr>
{{end}}
{{if not .LockTime.IsZero}}
						  					<tr>
						  						<td>Locktime</td>
						  						<td>{{.LockTime}}</td>
						  					</tr>
{{end}}
						  					<tr>
						  						<td>Parents</td>
{{range .Parents}}
						  						<td>{{.String}}</td>
{{end}}
						  					</tr>
						  					<tr>
						  						<td>Nonce </td>
						  						<td>
{{range .Nonce}}
						  						{{.}}
{{end}}
</td>
						  					</tr>
						  					<tr>
						  						<td>Gnonce</td>
						  						<td>{{.GNonce}}</td>
						  					</tr>
						  				</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Footer-->
		<footer>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p>2018 © Aidos Explorer. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--Footer END-->

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/custom.js"></script>


		<script>
			$(document).ready(function() {
				$(".advance-details-table").hide();
				$("#advance-details").click(function(){
				    $(".advance-details-table").slideToggle();
				});
			});
		</script>

	</body>
</html>
{{end}}
